{%extends 'movies/base.html'%}
{% load static%}
{%block login%}
  active
{%endblock%}
{%block content%}
     <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({% static 'images/s2.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
           <p class="breadcrumbs"><span class="mr-2"><a href="{%url 'movie_list' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Login <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">Login</h1>
          </div>
        </div>
      </div>
    </section>

 <section class="ftco-section bg-light">
     <div class="container">
      <div class="row">
               <form method="post">
                   {% csrf_token %}
                {{form.as_p}}
                    <input type="submit" value="create" class="btn btn-secondary py-2 ml-1" style="margin-bottom: 10px">
                  </form>
                </div>
        </div>
    </section>
{%endblock%}